.email-template {
  position: absolute;
  top: 80px;
  left: 15%;
  right: 0%;
  height: 100%;
  margin-inline: 2%;
  text-align: left;
  color: black;
}

.email-template .base {
  width: 100%;
  height: fit-content;
  margin-block: 5vh;
  display: flex;
}

.base-left {
  flex: 2;
  background-color: #cecece30;
  display: flex;
  justify-content: left;
  align-items: start;
  margin-left: 2vh;
}

.base-right {
  flex: 1;
  margin-right: 2vh;
  border-left: 1px solid #6b778c;
  box-shadow: 0px 0px 4px 0px #00000040;
  height: 100vh;
  display: flex;
}

.base-left .canvas {
  background-color: white;
  width: 60vh;
  height: 80vh;
  margin: 10vh;
  box-shadow: 0px 0px 10px 0px #00000040;
}

.navbar_ai_left {
  margin-left: -20px;
}

.base-right .sidebar-thingy {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  width: 60px;
  height: 80px;
  border-radius: 20px 0px 00px 20px;
  background-color: #ffffff;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-left: -60px;
  border-left: 1px solid #6b778c;
}

.base-right.collapsed .sidebar-thingy {
  margin-left: 0;
  /* background-color: red; */
}

.base-right .content {
  width: 100%;
  overflow-y: auto;
}

.content .action-button {
  display: flex;
  justify-content: space-evenly;
}

.content .action-button .generate {
  color: white;
  background-color: #ec1358;
}

.content .action-button .save {
  color: #6b778c;
  background-color: #ebecf0;
}

.menu-button {
  font-size: 12px;
  text-align: center;
  margin: 30px;
}

.menu-button .menu-container {
  display: flex;
}

.menu-button .menu-container .menu {
  border: 1px solid #666666;
  flex: auto;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.menu-button .menu-container .menu:hover {
  background-color: #ededed;
}

.menu-button .menu-container .menu.selected {
  background-color: #5233d7;
  color: white;
}

.content .layout {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.layout .layout-item img {
  width: 150px;
  height: 150px;
  object-fit: fill;
  cursor: pointer;
}

.component-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
  padding-inline: 30px;
}

.component-content .component-item img {
  object-fit: contain;
  height: 40px;
  width: 40px;
  margin-top: 10px;
}

.component-content .component-item {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border: 2px solid #8a7ebe;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: #666666;
}

.component-content .component-item:hover {
  background-color: #dddddd;
  color: black;
}

.base-content-menu-quill {
  margin: 30px;
  height: 50vh;
}

.base-comment {
  padding-inline: 30px;
}

.base-comment .comment {
  border-bottom: 1px solid #000000;
}

.base-comment h4 {
  font-weight: 300;
  color: black;
  font-size: 14px;
}

.base-comment p {
  font-weight: 300;
  color: #7d7d7d;
  font-size: 12px;
}

.base-comment button {
  color: #6b778c;
  background-color: #ebecf0;
  font-weight: bold;
  margin-top: 20px;
}

.chat-popup-left {
  position: fixed;
  width: 320px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 100;
  display: flex;
  flex-direction: column;
  animation: slideInLeft 0.5s forwards;
  transform: translateY(-50%);
  top: 50%;
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.chat-header {
  background-color: #ff2d55;
  color: #fff;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-header p {
  margin: 0;
}

.chat-header button {
  background: transparent;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.chat-body {
  padding: 10px;
  max-height: 200px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.chat-message-bot {
  padding: 8px;
  border-radius: 10px;
  font-size: 14px;
  line-height: 1.4;
  background-color: #f1f1f1;
  align-self: flex-start;
}

.chat-footer {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ddd;
}

.chat-footer input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
}

.chat-footer button {
  background-color: #ff2d55;
  border: none;
  color: white;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}
