.contact {
  position: absolute;
  top: 80px;
  left: 15%;
  right: 0%;
  height: 100vh;
  padding-bottom: 80px;
  margin-inline: 2%;
  text-align: left;
  color: black;
}

.button-container {
  display: flex;
  justify-content: end;
}

.button {
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  height: fit-content;
  padding-block: 0;
  margin-left: 10px;
  margin-bottom: 20px;
}

.button img {
  margin-right: 10px;
}

.button.refresh {
  color: blue;
  background-color: #d5e6fb;
  border: 1px solid #d5e6fb;
}

.button.plus {
  color: white;
  background-color: #a5132f;
  border: 1px solid #ba0e44;
}

/* CONTACT TABLE */
.contact-container {
  right: 0;
  overflow: hidden;
  border-top: 1px solid #b8b2b2;
  border-bottom: 1px solid #b8b2b2;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background: #f7f6f6;
}

.contact-container img {
  height: 24px;
}

th,
td {
  text-align: left;
  background-color: #f7f6f6;
}

th {
  font-weight: bold;
}

td {
  cursor: pointer;
}

tr {
  height: 100%;
}

.status-upload {
  color: #fff;
  background-color: #28a745;
  text-align: center;
  border-radius: 12px;
  padding: 5px 10px;
  max-width: 70px;
  cursor: pointer;
}

.status-upload:hover {
  background-color: #218838;
}

td:last-child {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.action-icon {
  cursor: pointer;
  font-size: 18px;
}

.status-finish {
  margin-left: 15%;
  margin-right: 15%;
  background: #13c061;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 15px;
  width: inherit;
}

/* PAGINATION */
.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    margin-top: 10px;
    font-size: 14px;
  }
  
  .pagination-controls {
    display: flex;
    align-items: center;
  }
  
  .pagination-controls select {
    border: 1px solid #ddd;
    padding: 4px;
    border-radius: 4px;
    margin-right: 10px;
  }
  
  .pagination-controls button {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .pagination-controls button:hover {
    background-color: #f2f2f2;
  }
  
  .active-page {
    background-color: #ff0047; /* Your red color */
    color: black;
    border-color: #ff0047;
    font-weight: bolder;
  }
  
  .pagination-controls button[disabled] {
    background-color: #e0e0e0;
    cursor: not-allowed;
  }
  