.dashboard {
  position: absolute;
  top: 80px;
  left: 15%;
  right: 0%;
  height: 100vh;
  padding-bottom: 80px;
  margin-inline: 2%;
}

.head-content {
  background: linear-gradient(90deg, #e81255 2.5%, #e81255 32%, #db225c 35%);
  box-shadow: 0px 1px 2px 0px #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 10px;
  gap: 10px;
  margin-top: 2%;
  height: fit-content;
  text-align: center;
}

.oca-blast-logo {
  padding-left: 6%;
  height: 150px;
}

.quota,
.success {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 10px;
  margin-top: 2%;
  color: black;
}

.remaining-quota,
.success-rate {
  width: 100%;
  height: fit-content;
  background-color: white;
  box-shadow: 0px 8px 12px 6px #00000026;
  border: 1px solid #c1c7d0;
  border-radius: 5px;
  margin-bottom: 30px;
}

.remaining-quota .leading,
.remaining-quota .trailing,
.success-rate .leading,
.success-rate .trailing {
  width: fit-content;
  height: fit-content;
  margin-inline: auto;
  border-radius: 100vh;
  font-size: 12px;
}

.remaining-quota .leading,
.success-rate .leading {
  background-color: red;
  font-weight: bold;
  padding: 3px;
  padding-inline: 10px;
}

.remaining-quota .trailing,
.success-rate .trailing {
  font-weight: 100;
  color: #6b778c;
}

.remaining-quota .title,
.success-rate .title {
  margin: auto;
}

.dashboard .group {
  display: flex;
  /* justify-content: space-between; */
  align-items: start;
  height: fit-content;
}

.success {
  margin-inline: 8%;
  /* width: 100%; */
  flex: auto;
}

.success .container {
  display: flex;
  width: 110%;
}

.success .container-details {
  display: flex;
  width: 110%;
}

.success-rate {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5%;
}

.success-rate .bar {
  margin-inline-start: 30%;
  width: 20%;
  height: 20%;
}

.success .details {
  color: white;
  border-radius: 4px;
  box-shadow: 0px 8px 40px 0px #00000033;
  width: 200%;
}

.success .details.mid {
  margin-inline: 2%;
}

.success .details p {
  font-size: 12px;
}

.success .group {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-right: 5%;
}

.broadcast-activities {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  text-align: left;
  height: 100vh;
  padding-bottom: 10%;
}

.broadcast-container {
  height: 100%;
  right: 0;
  background: #e8e7e79e;
  padding: 10px;
  margin-right: 10px;
  max-height: fit-content;
  overflow-y: auto;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  overflow-x: auto;
}

th,
td {
  padding: 0.75rem 1rem;
  text-align: left;
  white-space: nowrap;
}

th {
  background-color: transparent;
  font-weight: bold;
  color: #332b76;
}

td a {
  color: #6f5bb3;
  text-decoration: none;
}

td a:hover {
  text-decoration: underline;
}

tbody tr:nth-child() {
  background-color: #ffffff;
}
tbody tr td {
  font-size: 0.9rem;
  color: #3b3b3b;
}
