.broadcast-page {
  position: absolute;
  top: 80px;
  left: 15%;
  right: 0%;
  height: 100vh;
  padding-bottom: 80px;
  margin-inline: 2%;
  text-align: left;
  color: black;
  margin-bottom: 100px;
}

.bottom-button-container {
  margin-top: 30px;
  display: flex;
}

.bottom-button-container button {
  margin-inline: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.draft {
  background-color: #ebecf0;
  color: #6b778c;
  font-weight: bold;
}

.failed {
  background-color: #fef3f6;
  color: #ba0e44;
  border: 2px solid #ba0e44;
}

.create {
  border: 1px solid #ba0e44;
  background-color: #a5132f;
  color: white;
  font-weight: bold;
}

.create img {
  margin-inline: 10px;
}

.broadcast-page .group {
  display: flex;
  align-items: start;
  justify-content: center;
  height: fit-content;
  text-align: center;
}

.channel {
  margin-block: 10vh;
}

.channel .line {
  height: 1px;
  width: 100%;
  background-color: #c1c7d0;
  margin-left: 20px;
}

.channel-content .line {
  margin-inline: 20px;
  margin-bottom: 10px;
}

.channel .title {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.template-channel {
  background-color: white;
  box-shadow: 0px 6px 10px 4px #00000026;
  border-radius: 8px;
  margin-bottom: 5vh;
}

.channel-head {
  display: flex;
  margin: 0;
  align-items: center;
  cursor: pointer;
  width: fit-content;
}

.channel-head img {
  width: 20px;
}

.channel-head h2 {
  margin-inline: 30px;
}

.channel-content .detail {
  /* background-color: #ebf8f0; */
  align-items: center;
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin-inline: 30px;
}

.head {
  margin: 0;
  margin-top: 30px;
  width: 100%;
}

.channel-table {
  margin-block: 2%;
}

.channel-table table {
  border-collapse: collapse;
}

.channel-table th,
.channel-table td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
}

.channel-table .campaign-info {
  display: flex;
  align-items: center;
}

.channel-table .campaign-info img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.channel-table .follow-up {
  display: flex;
  flex-wrap: wrap;
}

.channel-table td .method,
.channel-table td .follow-up,
.channel-table td .status,
.channel-table td .strategy {
  display: flex;
  border-radius: 100px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 500;
  margin: 0;
}

.channel-table .method.scheduler {
  background-color: #f6a0bb;
  color: black;
}

.channel-table .method.instant {
  color: black;
  background-color: white;
  border: 1px solid #6b778c;
}

.channel-table .follow-up.success {
  color: red;
}

.channel-table .follow-up.error {
  color: red;
}

.channel-table .status.processing {
  background-color: #6b778c;
  color: white;
}

.channel-table .status.delivered {
  background-color: #35b86d;
  color: white;
}

.channel-table .status.finish {
  background-color: #ffc400;
  color: white;
}

.channel-table .strategy.click {
  background-color: #227dd3;
}

.channel-table .strategy.open {
  background-color: #9747ff;
}

.channel-table .strategy.read {
  background-color: #332b76;
}

.channel-table .action {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 80px;
}

.channel-table .action a {
  margin-right: 5px;
  text-decoration: underline;
}

.channel-table .delete-btn {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.channel .broadcast-form {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.channel .broadcast-form .search {
  color: black;
  font-weight: bold;
}

.channel .broadcast-form select,
.channel .broadcast-form input {
  width: 300px;
  height: 40px;
  background-color: white;
  border: 1px solid #c1c7d0;
  gap: 10px;
  border-radius: 8px;
  font-weight: 100;
  color: #c1c7d0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  width: 100%;
}

.header .head-item {
  margin-inline: 5%;
  display: flex;
  align-items: center;
}

.header .head-item img {
  margin-right: 1%;
  padding-right: 1%;
  border-right: 1px solid #c1c7d0;
  width: 5%;
  justify-content: center;
}


.header .head-item p {
  color: #6b778c;
  margin-top: 0;
}

.header .head-item h2 {
  margin-bottom: 0;
  color: #091e42;
}

.header .details {
  margin-bottom: 5%;
  margin-top: 20px;
}