.broadcast-page {
  position: absolute;
  top: 80px;
  left: 15%;
  right: 0%;
  height: 100vh;
  padding-bottom: 80px;
  margin-inline: 2%;
  text-align: left;
  color: black;
}

.bottom-button-container {
  margin-top: 30px;
  display: flex;
}

.bottom-button-container button {
  margin-inline: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.draft {
  background-color: #ebecf0;
  color: #6b778c;
  font-weight: bold;
}

.failed {
  background-color: #fef3f6;
  color: #ba0e44;
  border: 2px solid #ba0e44;
}

.create {
  border: 1px solid #ba0e44;
  background-color: #a5132f;
  color: white;
  font-weight: bold;
}

.create img {
  margin-inline: 10px;
}

.broadcast-page .group {
  display: flex;
  align-items: start;
  justify-content: center;
  height: fit-content;
  text-align: center;
}

.channel {
  margin-block: 10vh;
}

.channel .line {
  height: 1px;
  width: 100%;
  background-color: #c1c7d0;
  margin-left: 20px;
}

.channel-content .line {
  margin-inline: 10px;
}

.channel .title {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.template-channel.whatsapp {
  background-color: white;
  box-shadow: 0px 6px 10px 4px #00000026;
  border-radius: 8px;
}

.channel-head {
  display: flex;
  margin: 0;
  align-items: center;
}

.channel-head img {
  width: 20px;
}

.channel-head h2 {
  margin-inline: 30px;
  color: #297837;
}

.channel-content .head {
  /* background-color: #ebf8f0; */
  align-items: center;
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin-inline: 30px;
}

.head .content {
  margin: 0;
  margin-top: 30px;
  width: 100%;

}

.head {
}