.template-page {
  position: absolute;
  top: 80px;
  left: 15%;
  right: 0%;
  height: 100vh;
  padding-bottom: 80px;
  margin-inline: 2%;
  text-align: left;
  color: black;
}

.button-container {
  padding-block: 1%;
  border-bottom: 2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-container .dropdown {
  display: flex;
  width: fit-content;
}

.button-container .dropdown button {
  background-color: white;
  margin-right: 10%;
  border-radius: 100px;
  color: black;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 5%;
}

.button-container .dropdown button:hover,
.button-container .dropdown button.selected {
  background-color: #ca114b;
  color: white;
  border-color: transparent;
}

.button-container .dropdown button.selected img {
  filter: brightness(0) invert(1);
}

button img {
  margin-left: 10px;
  height: 70%;
}

.button-container .action {
  display: flex;
  justify-content: end;
  width: 50%;
}

.button-container .action button {
  margin-left: 10%;
  display: flex;
  align-items: center;
  border-radius: 8px;
  font-weight: bold;
}

.action .draft {
  background-color: #ebecf0;
  color: #6b778c;
}

.action .create {
  background-color: #a5132f;
  color: white;
  display: flex;
  align-items: center;
  img {
    margin-right: 10px;
    margin-left: 0;
  }
}

.content {
  margin-top: 5%;
}

.content .header {
  box-shadow: 0px 1px 4px 0px #00000040;
}

.content .head-item {
  margin-inline: 5%;
  display: flex;
  align-items: center;
}

.content .head-item img {
  margin-right: 1%;
  padding-right: 1%;
  border-right: 1px solid #c1c7d0;
}

.content .head-item p {
  color: #6b778c;
  margin-top: 0;
}

.content .head-item h2 {
  margin-bottom: 0;
  color: #091e42;
}

.content .details {
  margin-bottom: 10%;
  margin-top: 20px;
}

.template-checkbox{
    margin-right: 10px;
    
}